h1{
    text-align: center;
}
.table-box{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    font-size: 1.8em;
    color: black;
}
th, td{
    /* border: 1px solid black; */
    padding: 10px 15px;
}

.col-style{
    width: 150px;
}
.img-chek{
    display: block;
    margin: 0 auto;
}

.col-fam{
    background-color: brown;
    border: 0;
}
.col-bron{
    background-color: orange;
    border: 0;
}
.col-gold{
    background-color: gold;
    border: 0;
}
.col-plant{
    background-color: #7f7679;
    border: 0;
}
.col-plan{
    background-color: aqua;
    border: 0;
    border-right: 5px solid rgb(209, 207, 207);
}
.caracol{
    border-right: 5px solid rgb(209, 207, 207);
    border: 5px solid rgb(209, 207, 207);
}
.centro{
    text-align: center;
}
#redondo{
    border-radius: 10px;
}